<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286655438694-8s84g5luv1b30scf74h8p2cl578ir4ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286655438694-8s84g5luv1b30scf74h8p2cl578ir4ip</string>
	<key>API_KEY</key>
	<string>AIzaSyC0GhtUyOXdYo9aBG83-3d6e4hLyZ__h6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>286655438694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trexy</string>
	<key>PROJECT_ID</key>
	<string>elektra-beb5b</string>
	<key>STORAGE_BUCKET</key>
	<string>elektra-beb5b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286655438694:ios:e55bfc7e7097350f6872a7</string>
</dict>
</plist>